javascript/
wsk
wsk.exe
scripts
Godeps/_workspace
*~

# IDE-related exclusions
.idea/
*.iml

# Gradle build working directories
/.gradle/
/.gogradle/
build
/release/
/vendor/*/
openwhisk-cli.iml
wski18n/i18n_resources.go
bin/
tests/build/
tests/out/
